@media screen and (max-width: 400px) {
  .title {
    font-size: 2.5rem !important;
    font-style: oblique !important;
    font-weight: 400 !important;
    font-family: "roboto" !important;
  }

  .slogan {
    font-size: 25px !important;
  }
  .textMain {
    padding: 35px 0px 35px 0px !important;
  }
  .middleSection {
    padding-bottom: 70px !important;
  }

  .imgMain {
    background: center;
  }
  .middleSectionTextRight,
  .middleSectionTextLeft {
    text-align: center;
  }
  h4 {
    padding-bottom: 30px;
  }
  p {
    letter-spacing: 0.5px;
    line-height: 15px;
    padding: 20px 0 20px 0 !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 65px;
  font-style: oblique;
  font-weight: 400;
  font-family: "roboto";
  text-transform: uppercase;
}

.slogan {
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  font-family: "roboto";
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.middleSection {
  padding-bottom: 140px;
}

h4 {
  text-align: center;
  padding: 25px 0 25px 0;
}

p {
  letter-spacing: 1px;
  line-height: 35px;
  padding: 0 20px 0 20px;
}

.imgMain {
  margin-top: 4.5rem;
  background-image: linear-gradient(
      rgba(96, 76, 128, 0.486),
      rgba(96, 76, 128, 0.486)
    ),
    url("../ressources/img/accelereEmploiMain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  color: rgb(255, 255, 255);
}

.textMain {
  font-style: oblique;
  font-size: large;
  padding: 0px 0px 140px 0px;
}

#imageMiddle {
  height: 300px;
  background-size: cover;
  background-image: url("../ressources/img/reunionVuDeHautWomen.jpg");
}

#imageMiddle2 {
  height: 300px;
  background-size: cover;
  background-image: url("../ressources/img/rendezVousBlack.jpg");
}

.middleSection div {
  background-color: #f5f5f5 !important;
}

.imageMiddle {
  padding: 0px 0px 0px 0px;
}

.redBar {
  background-color: rgba(255, 0, 0, 0.63);
  height: 5px;
  width: 200px;
  border-radius: 10px;
}

.ateliers {
  padding-bottom: 140px !important;
}

.textBottom {
  background-image: linear-gradient(
      rgba(122, 122, 122, 0.6),
      rgba(122, 122, 122, 0.6)
    ),
    url("../ressources/img/imageWorkingWomenOffice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 300px;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
}

@media screen and (min-width: 401px) {
  .custom-shape-divider-top-1610706305 {
    width: 100%;
    overflow: hidden;
  }

  .custom-shape-divider-top-1610706305 svg {
    width: calc(151% + 1.3px);
  }

  .custom-shape-divider-top-1610706305 .shape-fill {
    fill: #604c80cc;
  }
}
