.nav-item {
    text-transform: uppercase;
}

.nav-link, .dropdown-item {
    font-size: .8rem;
    line-height: 1.5;
}

.dropdown-item {
    text-transform: capitalize;
}

.btn-green-nav {
    background-color: #61CE70;
    border-color: #61CE70;
    border-width: 2px;
}

.btn-green-nav:hover {
    background-color: transparent;
    border-color: #61CE70;
    color: #61CE70;
}

.btn-green-nav:active, .btn-green-nav:focus {
    background-color: #61CE70 !important;
    border-color: #61CE70 !important;
    border-width: 2px !important;
}

.btn-green-nav:focus {
    box-shadow: 0 0 0 .25rem rgba(97, 206, 112, .5);
}