* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#logo_nav {
    width: 7rem;
}

.nav-item {
    text-transform: uppercase;
}

.main > div:nth-child(1) {
    background-image: linear-gradient( rgba(92, 33, 94, 0.5), rgba(92, 33, 94, 0.5)), url("../ressources/img/People\ -\ 6387.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
}

#logo-main {
    width: 18rem;
}

.slogan {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.infos, .prestation {
    padding: 150px 0px 150px 0px;
}

.text-infos {
    text-align: justify;
}

.fa-book-open, .fa-cannabis {
    height: 4rem;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

.fa-book-open {
    background-color: #61CE70;
}

.fa-cannabis {
    background-color: #5C215E;
}

.infos-title {
    color: #61CE70;
}

.side-infos {
    background-image: url("../ressources/img/accelere-emploi\ main.jpg");
    background-size: cover;
}

.prestation {
    background-color: #5C215E26;
}

.img-cep {
    height: 200px;
    background-image: url("../ressources/img/homme femme working.jpg");
    background-size: cover;
}